@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
body{
    font-family: 'Muli', sans-serif;
    background-image: url('file:///home/wecode/Documents/moringa-school-projects/Best-Pizza/images/backgrounds/talbe1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron{
    padding-top: 7%;
    margin-top: 3%;
    
    background-color: lightsalmon;
    border-radius: 0px;
}
.tit{
    font-size: 28px;
}
#content{
    border-radius: 0px;
}
#back{
    opacity: 0.5;
}
#delivery,#order,#price,#check,#add,#charges{
    display: none;
}
button{
    background-color: tomato;
    color: white;
}
#details,#pizza-amount{
    font-style: italic;
    font-size: 26px;
}